html {
    -ms-touch-action: none;
}

body {
    background-image: url("../assets/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    cursor: default;

    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.buttonPlay {
    position: absolute;
    width: 325px;
    height: 110px;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
}

.buttonClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
}